/* Estilos gerais da página */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-name {
    margin-top: 5px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

.settings-button {
    background: none;
    border: none;
    cursor: pointer;
}

.settings-img {
    width: 25px;
    height: 25px;
}

/* Container do jogo */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    margin-right: 20px;
    min-height: 0;
}

/* Estilo do botão de reset */
.reset-button {
    margin-top: 10px; /* Reduzido para aproximar do jogo */
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Botão de voltar */
.back-button {
    margin-top: 10px; /* Reduzido para aproximar do jogo */
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #6c757d;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


/* Estilo do tabuleiro */
.game-board {
    display: grid;
    grid-template-columns: repeat(4, 60px); /* Ajuste o tamanho dos quadrados */
    grid-template-rows: repeat(8, 60px); /* Ajuste o tamanho dos quadrados */
    grid-gap: 5px;
    justify-content: center;
    margin: 0 auto;
    height: 20vw;
}

/* Estilo das cartas */
.card {
    width: 60px; /* Ajuste o tamanho dos quadrados */
    height: 60px; /* Ajuste o tamanho dos quadrados */
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Diminua o tamanho da fonte */
    font-weight: bold;
    color: #003366;
    cursor: pointer;
    transition: background-color 0.2s;
}

/* Efeito de virar a carta */
.card.flipped {
    background-color: #f0f8ff;
    border-color: #0056b3;
}

/* Estilo para cartas combinadas */
.card.matched {
    background-color: #76c788;
    border-color: #1b5e0d;
    color: #ffffff;
    cursor: default;
}

/* Estilo do botão de reset */
.reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Efeito de hover no botão de reset */
.reset-button:hover {
    background-color: #0056b3;
}

/* Botão de voltar */
.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #6c757d;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Efeito de hover no botão de voltar */
.back-button:hover {
    background-color: #5a6268;
}
